body{
    margin: 0px;
}

/* Body Header */
#body-header{
    height: 65vh;
    background-image: url(images/header-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal List */
.horizontal-list{
    list-style: none;
    padding-left: 5px;
}

.horizontal-list li{
    display: inline-block;
    margin: 5px 5px;
    padding: 4px;
    transition: 0.6s border-bottom 0.1s;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    
}

.nav-bar li:hover{
    box-shadow: 0px 0px 6px 4px white;
}

.text-center{
    text-align: center;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0px;
}

#name-container{
    margin-top: 80px;
}

/* Social Media Icons */
.social-icons li a i{
   font-size: 25px;
   padding: 8px;
   border-radius: 50%;
   margin: -5px;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px white;
}

#domain{
    color: white;
}

#about{
    height: auto;
    width: 100%;
    margin: auto;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px white;
}

#about-sub-heading{
    font-size: 16px;
    width: 60%;
    margin: auto;
}

#about-text{
    font-size: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    
}

section{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1){
    background-color: white;
}

section:nth-child(2n){
    background-color: #f8f9fa;
}

.section-heading{
    width: auto;
    margin: 20px auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
}

.section-heading span:hover{
    color: orangered
}

.skills-display{
    width: 70%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 50px;
}

.skills-progress{
    width: 300px;
    height: 20px;
    background-color: lightgrey;
    border: 1px solid darkgrey;
    border-radius: 20px;
    box-shadow: 2px 4px 6px 4px darkgrey;
    margin: 20px;
    
}

.progress{
    height: 100%;
    border-radius: 20px;
    text-align: center;
}

.skill-name{
    color: white;
}
